.create-button {
  display: flex;
  align-items: center;
  margin-left: 12px;
  gap: 4px;
}

.custom-green-button {
  background-color: #4f8a5b !important;
  color: white !important;
  font-size: 1rem;
  padding: 28px 36px;
  border-radius: 6px;
  white-space: nowrap;
}

.custom-green-button:hover {
  background-color: #388e3c !important;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #cfd8dc;
  border-radius: 24px;
  padding: 0.7rem 1rem;
  background-color: #fff;
  max-width: 300px;
  width: 100%;
}

.search-container mat-icon {
  margin-right: 0.5rem;
  color: #607d8b;
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.95rem;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.toolbar-left,
.toolbar-center,
.toolbar-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.toolbar-left {
  flex: 1;
  justify-content: flex-start;
}

.toolbar-center {
  flex: 1;
  justify-content: center;
}

.toolbar-right {
  flex: 1;
  justify-content: flex-end;
  gap: 0.75rem;
}

.title {
  font-size: 24px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom-toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .toolbar-left,
  .toolbar-center,
  .toolbar-right {
    justify-content: center;
    flex: 1 1 100%;
  }

  .search-container {
    max-width: 100%;
  }

  .custom-green-button {
    width: 100%;
    justify-content: center;
    padding: 16px;
    font-size: 1rem;
  }

  .filter-field {
    width: 100%;
  }
}
