.create-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
