.plans-container {
    text-align: center;
}


.plans-header h2,
.plans-header h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-transform: uppercase;
    margin: 0 20px 0 20px;
}

.plans-header h3 {
    margin-top: 7px;
}

.principal-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 32px;
}



@media (max-width: 1405px) {

    .plans-header h2,
    .plans-header h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        /* margin: 0; */
    }
}