.toolbar-card {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: none !important;
}

.title {
  font-size: 1.4rem;
  font-family: Poppins;
  font-weight: normal !important;
  margin: 0;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
}

.message {
  font-weight: 500;
}

.time {
  color: gray;
  font-size: 0.875rem;
}
